Repository FACE-Amrita-Bengaluru/SLAC-2020, pull requests merged in 2020-10, with the labels that each got.

#33 Workflows
  .firebaserc
  .github/labeler.yml
  .github/workflows/firebase.yml
  .github/workflows/label.yml
  .github/workflows/nodejs.yml
Labels: workflows

#35 Fix #14
  functions/index.js
Labels: back-end

#39 Fixes
  CONTRIBUTING.md
  LICENSE
  Prerequisite.md
  README.md
  functions/views/404.ejs
  functions/views/footer.ejs
  functions/views/header.ejs
  functions/views/index.ejs
  functions/views/meta.ejs
  functions/views/offline.ejs
  functions/views/sponsorship.ejs
  functions/views/timer.ejs
  public/Main/css/main.css
  public/Main/img/sdg/1.png
  public/Main/img/sdg/10.png
  public/Main/img/sdg/11.png
  public/Main/img/sdg/12.png
  public/Main/img/sdg/13.png
  public/Main/img/sdg/14.png
  public/Main/img/sdg/15.png
  public/Main/img/sdg/16.png
  public/Main/img/sdg/17.png
  public/Main/img/sdg/2.png
  public/Main/img/sdg/3.png
  public/Main/img/sdg/4.png
  public/Main/img/sdg/5.png
  public/Main/img/sdg/6.png
  public/Main/img/sdg/7.png
  public/Main/img/sdg/8.png
  public/Main/img/sdg/9.png
  public/Main/img/tracks/Crisis Response - 1.jpg
  public/Main/img/tracks/Crisis Response - 2.jpg
  public/Main/img/tracks/Cybersecurity - 1.jpg
  public/Main/img/tracks/Cybersecurity - 2.jpg
  public/Main/img/tracks/Fintech - 1.jpg
  public/Main/img/tracks/Fintech - 2.jpg
  public/Main/img/tracks/Healthcare - 1.jpg
  public/Main/img/tracks/Healthcare - 2.jpg
  public/Main/img/tracks/Open Innovation - 1.jpg
  public/Main/img/tracks/Open Innovation - 2.jpg
  public/Main/js/main.js
  public/manifest.json
  public/offline.html
  public/sitemap.xml
Labels: CSS, EJS, HTML, JavaScript, back-end, documentation, front-end

#47 Icon Changes
  functions/views/index.ejs
  public/Main/img/brands/devfolio.png
  public/Main/img/brands/matic.png
  public/Main/img/brands/portis.png
Labels: EJS

#51 Changed index.ejs
  functions/views/index.ejs
Labels: EJS
